<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /kitchen/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^(.*)$ /kitchen/index.html [QSA,L]
</IfModule>

<FilesMatch "^\.">
  Deny from all
</FilesMatch>
